USE [master]
GO
/****** Object:  Database [AQUAMIN]    Script Date: 05-03-2024 19:01:13 ******/
CREATE DATABASE [AQUAMIN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AQUAMIN', FILENAME = N'G:\sql\MSSQL12.SQLEXPRESS\MSSQL\DATA\AQUAMIN.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AQUAMIN_log', FILENAME = N'G:\sql\MSSQL12.SQLEXPRESS\MSSQL\DATA\AQUAMIN_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AQUAMIN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AQUAMIN]
GO
/****** Object:  UserDefinedFunction [dbo].[CALCULARVALORDESPACHO]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[CALCULARVALORDESPACHO](@IDPRODUCTO INT,@CANTIDAD INT)
RETURNS DECIMAL
AS
BEGIN
DECLARE @VALORDESPACHO DECIMAL;
DECLARE @SECTOR VARCHAR(MAX)

SELECT @SECTOR = TIPO_PRODUCTO FROM PRODUCTO WHERE ID = @IDPRODUCTO

IF CHARINDEX('Planta',@SECTOR)>0
BEGIN
SET @VALORDESPACHO = 0
END

IF (CHARINDEX('Oriente', @SECTOR) > 0 OR CHARINDEX('Poniente', @SECTOR) > 0) AND @CANTIDAD > 3
BEGIN
SET @VALORDESPACHO = 0
END

if CHARINDEX('Poniente',@SECTOR) > 0 AND @CANTIDAD<4
BEGIN
SET @VALORDESPACHO = 1500
END

if CHARINDEX('Oriente',@SECTOR) > 0 AND @CANTIDAD<4
BEGIN
SET @VALORDESPACHO = 2000
END

RETURN @VALORDESPACHO;
END

GO
/****** Object:  UserDefinedFunction [dbo].[CANTTIDADBIDONES]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CANTTIDADBIDONES](@IDUSUARIO INT,@FECHA DATE)
RETURNS INT
AS
BEGIN
DECLARE @VEINTELTS INT;
DECLARE @DIEZLTS INT;
DECLARE @TOTAL INT;

SELECT 

	 @VEINTELTS = SUM(CASE WHEN P.TIPO_PRODUCTO LIKE '%'+'20 lts'+'%' THEN V.CANTIDAD ELSE 0 END),
	 @DIEZLTS = SUM(CASE WHEN P.TIPO_PRODUCTO LIKE '%'+'10 lts'+'%' THEN V.CANTIDAD ELSE 0 END)

 FROM VENTA_PRODUCTO V
 INNER JOIN PRODUCTO P ON V.ID_PRODUCTO = P.ID
 WHERE V.ID_USUARIO = @IDUSUARIO AND V.FECHA = @FECHA
 SET @TOTAL = @VEINTELTS + @DIEZLTS
 RETURN @TOTAL
END
GO
/****** Object:  UserDefinedFunction [dbo].[Split_String]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Split_String]
(
    @String NVARCHAR(MAX),
    @Delimiter CHAR(1)
)
RETURNS @Result TABLE (Value NVARCHAR(MAX))
AS
BEGIN
    DECLARE @Pos INT

    WHILE CHARINDEX(@Delimiter, @String) > 0
    BEGIN
        SET @Pos = CHARINDEX(@Delimiter, @String)
        INSERT INTO @Result (Value) VALUES (SUBSTRING(@String, 1, @Pos-1))
        SET @String = SUBSTRING(@String, @Pos+1, LEN(@String)-@Pos)
    END

    INSERT INTO @Result (Value) VALUES (@String)
    RETURN
END

GO
/****** Object:  UserDefinedFunction [dbo].[SplitString]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SplitString]
(
    @String NVARCHAR(MAX),
    @Delimiter CHAR(1)
)
RETURNS @Result TABLE (Value NVARCHAR(MAX))
AS
BEGIN
    DECLARE @Pos INT

    WHILE CHARINDEX(@Delimiter, @String) > 0
    BEGIN
        SET @Pos = CHARINDEX(@Delimiter, @String)
        INSERT INTO @Result (Value) VALUES (SUBSTRING(@String, 1, @Pos-1))
        SET @String = SUBSTRING(@String, @Pos+1, LEN(@String)-@Pos)
    END

    INSERT INTO @Result (Value) VALUES (@String)
    RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[VALORTOTAL]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[VALORTOTAL](@IDPRODUCTO INT,@CANTIDAD INT)
RETURNS DECIMAL
AS
BEGIN
DECLARE @TOTAL DECIMAL;
DECLARE @PRECIO DECIMAL;
DECLARE @VALORDESPACHO DECIMAL;

SELECT @PRECIO = PRECIO FROM PRODUCTO WHERE ID = @IDPRODUCTO;

SET @VALORDESPACHO = dbo.CALCULARVALORDESPACHO(@IDPRODUCTO,@CANTIDAD);

SET @TOTAL = @PRECIO*@CANTIDAD + @VALORDESPACHO;

RETURN @TOTAL

END
GO
/****** Object:  Table [dbo].[BOLETA]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BOLETA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RUT] [varchar](20) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[ID_VENTA] [int] NOT NULL,
	[DETALLE] [varchar](max) NULL,
	[TOTAL] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMUNA]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMUNA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[ID_SECTOR] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIRECCION]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIRECCION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CALLE] [varchar](200) NOT NULL,
	[NUMERO] [int] NOT NULL,
	[ID_COMUNA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_PRODUCTO] [varchar](100) NOT NULL,
	[PRECIO] [decimal](10, 2) NOT NULL,
	[STOCK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RUTA_DESPACHO]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RUTA_DESPACHO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_VENTA] [int] NOT NULL,
	[COMENTARIO] [varchar](200) NULL,
	[FOTO] [varbinary](max) NULL,
	[ESTADO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SECTOR]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SECTOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](200) NOT NULL,
	[TELEFONO] [varchar](20) NOT NULL,
	[CORREO] [varchar](100) NULL,
	[CONSTRASENA] [nvarchar](max) NULL,
	[ID_DIRECCION] [int] NOT NULL,
	[ID_ROL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENTA_PRODUCTO]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VENTA_PRODUCTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[ESTADO_PAGO] [varchar](50) NOT NULL,
	[METODO_PAGO] [varchar](60) NOT NULL,
	[TOTAL] [decimal](10, 2) NOT NULL,
	[TIPO_VENTA] [varchar](50) NOT NULL,
	[VALOR_DESPACHO] [decimal](10, 2) NULL,
	[DETALLE] [varchar](200) NULL,
	[FECHA] [date] NOT NULL,
	[PRIORIDAD] [int] NULL,
	[CANTIDAD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[RUTA_DESPACHO] ADD  DEFAULT ('NO ENTREGADO') FOR [ESTADO]
GO
ALTER TABLE [dbo].[BOLETA]  WITH CHECK ADD  CONSTRAINT [ID_VENTABOLETA_FK] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[VENTA_PRODUCTO] ([ID])
GO
ALTER TABLE [dbo].[BOLETA] CHECK CONSTRAINT [ID_VENTABOLETA_FK]
GO
ALTER TABLE [dbo].[COMUNA]  WITH CHECK ADD  CONSTRAINT [SECTOR_FK] FOREIGN KEY([ID_SECTOR])
REFERENCES [dbo].[SECTOR] ([ID])
GO
ALTER TABLE [dbo].[COMUNA] CHECK CONSTRAINT [SECTOR_FK]
GO
ALTER TABLE [dbo].[DIRECCION]  WITH CHECK ADD  CONSTRAINT [COMUNA_FK] FOREIGN KEY([ID_COMUNA])
REFERENCES [dbo].[COMUNA] ([ID])
GO
ALTER TABLE [dbo].[DIRECCION] CHECK CONSTRAINT [COMUNA_FK]
GO
ALTER TABLE [dbo].[RUTA_DESPACHO]  WITH CHECK ADD  CONSTRAINT [ID_VENTA_FK] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[VENTA_PRODUCTO] ([ID])
GO
ALTER TABLE [dbo].[RUTA_DESPACHO] CHECK CONSTRAINT [ID_VENTA_FK]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [DIRECCION_FK] FOREIGN KEY([ID_DIRECCION])
REFERENCES [dbo].[DIRECCION] ([ID])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [DIRECCION_FK]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [ROL_FK] FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[ROL] ([ID])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [ROL_FK]
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [ID_PRODUCTO_FK] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID])
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO] CHECK CONSTRAINT [ID_PRODUCTO_FK]
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [ID_USUARIO_FK] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO] CHECK CONSTRAINT [ID_USUARIO_FK]
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [ESTADO_PAGO_CHECK] CHECK  (([ESTADO_PAGO]='nopagado' OR [ESTADO_PAGO]='pagado'))
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO] CHECK CONSTRAINT [ESTADO_PAGO_CHECK]
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [METODO_PAGO_CHECK] CHECK  (([METODO_PAGO]='transferencia' OR [METODO_PAGO]='tarjeta' OR [METODO_PAGO]='efectivo'))
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO] CHECK CONSTRAINT [METODO_PAGO_CHECK]
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [TIPO_VENTA_CHECK] CHECK  (([TIPO_VENTA]='hogar' OR [TIPO_VENTA]='planta'))
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO] CHECK CONSTRAINT [TIPO_VENTA_CHECK]
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZARDATOSUSUARIO]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ACTUALIZARDATOSUSUARIO]
@IDUSUARIO INT ,
@NOMBRE VARCHAR(200),
@TELEFONO VARCHAR(20),
@CALLE VARCHAR(200) ,
@NUMERO INT ,
@IDCOMUNA INT ,
@CORREO VARCHAR(100),
@CONTRASENA NVARCHAR(MAX),
@IDIRECCION INT,
@IDROL INT
AS
BEGIN

UPDATE DIRECCION 
SET CALLE = @CALLE,NUMERO = @NUMERO ,ID_COMUNA = @IDCOMUNA WHERE ID = @IDIRECCION 

UPDATE USUARIO
SET NOMBRE = @NOMBRE,TELEFONO = @TELEFONO,CORREO = @CORREO,CONSTRASENA = @CONTRASENA, ID_DIRECCION = @IDIRECCION,ID_ROL = @IDROL WHERE ID = @IDUSUARIO
END



GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZARDATOSVENTA]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZARDATOSVENTA]
@IDVENTA INT,
@IDUSUARIO INT,
@IDPRODUCTO INT,
@ESTADO_PAGO VARCHAR(50),
@METODO_PAGO VARCHAR(60),
@CANTIDAD INT,
@FECHA DATETIME,
@TOTAL DECIMAL(10,2),
@TIPO_VENTA VARCHAR(30),
@VALOR_DESPACHO DECIMAL(10,2),
@DETALLE VARCHAR(200),
@PRIORIDAD INT
AS
BEGIN
UPDATE VENTA_PRODUCTO
SET ID_USUARIO = @IDUSUARIO,ID_PRODUCTO = @IDPRODUCTO,ESTADO_PAGO = @ESTADO_PAGO,METODO_PAGO = @METODO_PAGO,CANTIDAD = @CANTIDAD,FECHA = @FECHA,
TOTAL = @TOTAL,TIPO_VENTA = @TIPO_VENTA,VALOR_DESPACHO = @VALOR_DESPACHO,DETALLE = @DETALLE,PRIORIDAD = @PRIORIDAD WHERE ID = @IDVENTA
END
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZARPRODUCTO]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ACTUALIZARPRODUCTO]
@IDPRODUCTO INT,
@IDUSUARIO INT,
@TIPO_PRODUCTO VARCHAR(100),
@PRECIO DECIMAL (10,2),
@STOCK INT
AS
BEGIN
DECLARE @IDROL INT, @RESULTADO INT;

SELECT @IDROL = ID_ROL FROM USUARIO WHERE ID = @IDUSUARIO

IF @IDROL = 1
BEGIN
UPDATE PRODUCTO
SET TIPO_PRODUCTO = @TIPO_PRODUCTO,PRECIO = @PRECIO, STOCK = @STOCK WHERE ID = @IDPRODUCTO
SET @RESULTADO = 0
END
ELSE
BEGIN
SET @RESULTADO = 1
END
SELECT @RESULTADO AS RESULTADO
END
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZARPRODUCTORUTA]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ACTUALIZARPRODUCTORUTA]
@ID INT,
@COMENTARIO VARCHAR(200),
@ESTADO VARCHAR(50)
AS
BEGIN
        UPDATE RUTA_DESPACHO
        SET COMENTARIO = @COMENTARIO, ESTADO = @ESTADO
        WHERE ID = @ID;
  
END
GO
/****** Object:  StoredProcedure [dbo].[ACTULIZARVALORTOTAL]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ACTULIZARVALORTOTAL]
@IDUSUARIO INT,
@FECHA DATE
AS
BEGIN
DECLARE @VALORDESPACHO DECIMAL (10,2)
DECLARE @CANTIDADCOLUMNA INT
 SELECT 
        @VALORDESPACHO = SUM(VALOR_DESPACHO),
        @CANTIDADCOLUMNA = COUNT(*)
    FROM 
        VENTA_PRODUCTO
    WHERE 
        ID_USUARIO = @IDUSUARIO AND FECHA = @FECHA

IF @VALORDESPACHO > 0
BEGIN
PRINT @VALORDESPACHO
UPDATE VENTA_PRODUCTO 
SET VALOR_DESPACHO = 0,TOTAL = TOTAL - (@VALORDESPACHO/@CANTIDADCOLUMNA)  WHERE ID_USUARIO = @IDUSUARIO AND FECHA = @FECHA
END
SELECT @VALORDESPACHO AS VALOR
END

GO
/****** Object:  StoredProcedure [dbo].[BUSCARPRODUCTO]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCARPRODUCTO] 
@IDPRODUCTO INT,
@TIPO_PRODUCTO VARCHAR(200)
AS
BEGIN
SELECT ID,TIPO_PRODUCTO,PRECIO,STOCK FROM PRODUCTO 
WHERE (ID = @IDPRODUCTO OR @IDPRODUCTO IS NULL)
AND (TIPO_PRODUCTO LIKE '%' + @TIPO_PRODUCTO + '%' OR @TIPO_PRODUCTO IS NULL)
END



GO
/****** Object:  StoredProcedure [dbo].[CREAR_USUARIO]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CREAR_USUARIO]
@NOMBRE VARCHAR(200),
@TELEFONO VARCHAR(20),
@CALLE VARCHAR(200) ,
@NUMERO INT ,
@IDCOMUNA INT ,
@CORREO VARCHAR(100),
@CONTRASENA NVARCHAR(MAX),
@IDROL INT ,
@IDIRECCION INT OUTPUT
AS
BEGIN
DECLARE @RESULTADO INT;
/*INGRESANDO DIRECCION*/

INSERT INTO DIRECCION(CALLE,NUMERO,ID_COMUNA) VALUES (@CALLE,@NUMERO,@IDCOMUNA)

/*OBTENIENDO ID DIRECCION*/

SET @IDIRECCION = SCOPE_IDENTITY()

IF EXISTS (SELECT ID FROM USUARIO WHERE CORREO = @CORREO)
BEGIN
SET @RESULTADO = 1
END 

/* INGRESANDO DATOS DE USUARIO  CLIENTE*/
ELSE
BEGIN
INSERT INTO USUARIO(NOMBRE,TELEFONO,CORREO,CONSTRASENA,ID_DIRECCION,ID_ROL) VALUES (@NOMBRE,@TELEFONO,@CORREO,@CONTRASENA,@IDIRECCION,@IDROL)
SET @RESULTADO = 2
END
SELECT @RESULTADO AS RESULTADO;
END

GO
/****** Object:  StoredProcedure [dbo].[DELETEVENTA]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DELETEVENTA]
@IDVENTA INT
AS
BEGIN
DELETE FROM VENTA_PRODUCTO WHERE ID = @IDVENTA
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINARPRODUCTO]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINARPRODUCTO]
@IDPRODUCTO INT,
@IDUSUARIO INT
AS
BEGIN
DECLARE @IDROL INT , @RESULTADO INT;
SELECT @IDROL = ID_ROL  FROM USUARIO WHERE ID = @IDUSUARIO
IF @IDROL = 1
BEGIN
DELETE FROM PRODUCTO WHERE ID = @IDPRODUCTO
SET @RESULTADO = 0
END
ELSE
BEGIN
SET @RESULTADO = 1
END
SELECT @RESULTADO AS RESULTADO
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINARUSUARIO]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINARUSUARIO]
@IDUSUARIO INT
AS
BEGIN
DELETE FROM USUARIO WHERE ID = @IDUSUARIO
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINARVENTARUTA]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINARVENTARUTA]
@ID INT
AS
BEGIN
DELETE FROM RUTA_DESPACHO WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[GENERARRUTA]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GENERARRUTA]
@IDSECTOR INT
AS
BEGIN
SELECT V.ID as IDVENTA,U.NOMBRE AS NOMBREUSUARIO,
V.CANTIDAD_20LTS AS 'veinteLTS',
V.CANTIDAD_10LTS AS 'diezLTS',
V.EXTRA,
V.DETALLE,U.TELEFONO,D.CALLE,D.NUMERO,
C.NOMBRE AS COMUNA,V.METODO_PAGO,V.TOTAL,R.ESTADO AS ESTADOENTREGA,R.COMENTARIO,R.FOTO 
 FROM RUTA_DESPACHO R

INNER JOIN VENTA_PRODUCTO V ON V.ID = R.ID_VENTA
INNER JOIN USUARIO U ON V.ID_USUARIO = U.ID
INNER JOIN PRODUCTO P ON V.ID_PRODUCTO = P.ID
INNER JOIN DIRECCION D ON U.ID_DIRECCION = D.ID
INNER JOIN COMUNA C ON D.ID_COMUNA = C.ID
INNER JOIN SECTOR S ON C.ID_SECTOR = S.ID

WHERE S.ID = @IDSECTOR AND V.FECHA = CONVERT(date,GETDATE())

GROUP BY
V.ID,
U.NOMBRE,
V.CANTIDAD_20LTS,
V.CANTIDAD_10LTS,
V.EXTRA,
V.DETALLE,
U.TELEFONO,
D.CALLE,
D.NUMERO,
C.NOMBRE,
V.METODO_PAGO,
V.TOTAL,
R.ESTADO,
R.COMENTARIO,
R.FOTO
ORDER BY MAX(V.PRIORIDAD)
END
GO
/****** Object:  StoredProcedure [dbo].[INGRESARPRODUCTOS]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INGRESARPRODUCTOS]
@IDUSUARIO INT,
@TIPO_PRODUCTO VARCHAR(100),
@PRECIO DECIMAL(10,2),
@STOCK INT
AS
BEGIN
DECLARE @IDROL INT,@RESULTADO INT;
SELECT @IDROL = ID_ROL  FROM USUARIO WHERE ID = @IDUSUARIO
IF @IDROL = 1
BEGIN
INSERT INTO PRODUCTO(TIPO_PRODUCTO,PRECIO,STOCK) VALUES(@TIPO_PRODUCTO,@PRECIO,@STOCK)
SET @RESULTADO = 0
END
ELSE
BEGIN
SET @RESULTADO = 1 
END
SELECT @RESULTADO AS RESULTADO
END
GO
/****** Object:  StoredProcedure [dbo].[INGRESARVENTA]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INGRESARVENTA]
@IDUSUARIO INT,
@IDPRODUCTO INT,
@ESTADO_PAGO VARCHAR(50),
@METODO_PAGO VARCHAR(60),
@TIPO_VENTA VARCHAR(30),
@DETALLE VARCHAR(200),
@FECHA DATE,
@PRIORIDAD INT = NULL,
@CANTIDAD INT,
@RESULTADO INT OUTPUT
AS
BEGIN
DECLARE @VALORDESPACHO DECIMAL
DECLARE @VALOR_TOTAL DECIMAL
DECLARE @IDVENTA INT;
DECLARE @CANTIDADBIDONESTOTAL INT;

SET @VALORDESPACHO = dbo.CALCULARVALORDESPACHO(@IDPRODUCTO,@CANTIDAD)
SET @VALOR_TOTAL = dbo.VALORTOTAL(@IDPRODUCTO,@CANTIDAD)

IF @TIPO_VENTA = 'Hogar'
BEGIN
IF @PRIORIDAD IS NOT NULL
BEGIN
INSERT INTO VENTA_PRODUCTO(ID_USUARIO, ID_PRODUCTO, ESTADO_PAGO, METODO_PAGO, TOTAL, TIPO_VENTA,VALOR_DESPACHO,DETALLE,FECHA,PRIORIDAD,CANTIDAD)
    SELECT @IDUSUARIO, @IDPRODUCTO, @ESTADO_PAGO, @METODO_PAGO, @VALOR_TOTAL, @TIPO_VENTA,@VALORDESPACHO,@DETALLE,@FECHA,@PRIORIDAD,@CANTIDAD
    FROM dbo.SplitString(@IDPRODUCTO, ',');
	SET @RESULTADO = 1
	SET @IDVENTA = SCOPE_IDENTITY()
END
END
ELSE IF @PRIORIDAD IS NULL
BEGIN
SET @RESULTADO = 0
END

IF @TIPO_VENTA = 'Planta'
BEGIN
INSERT INTO VENTA_PRODUCTO(ID_USUARIO, ID_PRODUCTO, ESTADO_PAGO, METODO_PAGO, TOTAL, TIPO_VENTA,VALOR_DESPACHO,DETALLE,FECHA,PRIORIDAD,CANTIDAD)
    SELECT @IDUSUARIO, @IDPRODUCTO, @ESTADO_PAGO, @METODO_PAGO, @VALOR_TOTAL, @TIPO_VENTA,@VALORDESPACHO,@DETALLE,@FECHA,@PRIORIDAD,@CANTIDAD
    FROM dbo.SplitString(@IDPRODUCTO, ',');
	SET @RESULTADO = 1   
	SET @IDVENTA = SCOPE_IDENTITY()

END

SET @CANTIDADBIDONESTOTAL = dbo.CANTTIDADBIDONES(@IDUSUARIO,@FECHA)
if @CANTIDADBIDONESTOTAL>3
BEGIN
EXEC ACTULIZARVALORTOTAL @IDUSUARIO,@FECHA
END


SELECT @RESULTADO AS RESULTADO
END


/*GENERANDO BOLETA
IF @RESULTADO = 1
BEGIN
DECLARE @DETALLE_BOLETA VARCHAR(MAX);
IF @CANTIDAD_20LTS>0
BEGIN
SET @DETALLE_BOLETA = CONCAT(@DETALLE_BOLETA,'Cantidad Bidones 20LTS:',@CANTIDAD_20LTS,',')
END
IF @CANTIDAD_10LTS>0
BEGIN
SET @DETALLE_BOLETA = CONCAT(@DETALLE_BOLETA,'Cantidad Bidones 10LTS:',@CANTIDAD_10LTS,',')
END
IF @EXTRA>0
BEGIN
SET @DETALLE_BOLETA = CONCAT(@DETALLE_BOLETA,'Cantidad Extra:',@EXTRA,',')
END
SET @DETALLE_BOLETA = LEFT(@DETALLE_BOLETA,LEN(@DETALLE_BOLETA)-1);
INSERT INTO BOLETA (RUT, FECHA, ID_VENTA, DETALLE,TOTAL)
VALUES (@IDUSUARIO, GETDATE(), @IDVENTA, @DETALLE_BOLETA,@TOTAL);
END*/
GO
/****** Object:  StoredProcedure [dbo].[INICIARSESION]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INICIARSESION]
@CORREO VARCHAR(200)
AS
BEGIN
SET NOCOUNT ON;

DECLARE @NOMBRE VARCHAR(100),
@IDUSUARIO INT,
@IDROL INT,
@CONTRASENA NVARCHAR(MAX)

SELECT @IDUSUARIO = ID,@NOMBRE = NOMBRE,@CONTRASENA = CONSTRASENA,@IDROL = ID_ROL FROM USUARIO WHERE CORREO = @CORREO

SELECT @IDUSUARIO AS 'IDUSUARIO',
		@NOMBRE AS 'NOMBREUSUARIO',
		@IDROL AS 'IDROL',
		@CONTRASENA AS 'CONTRASENA' 

END

GO
/****** Object:  StoredProcedure [dbo].[INRESARRUTADESPACHO]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INRESARRUTADESPACHO]
AS
BEGIN
INSERT INTO RUTA_DESPACHO (ID_VENTA) 
SELECT ID FROM VENTA_PRODUCTO
WHERE FECHA = CONVERT(date,GETDATE())
AND ID NOT IN(SELECT ID_VENTA FROM RUTA_DESPACHO) AND (TIPO_VENTA = 'Hogar')
END

GO
/****** Object:  StoredProcedure [dbo].[OBTENERCOMUNAS]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OBTENERCOMUNAS]
AS
BEGIN

SELECT C.ID,C.NOMBRE, S.ID AS IDSECTOR,S.NOMBRE AS NOMBRESECTOR FROM COMUNA C INNER JOIN SECTOR S ON S.ID = C.ID_SECTOR


END
GO
/****** Object:  StoredProcedure [dbo].[OBTENERROLES]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENERROLES]
AS
BEGIN

SELECT ID,NOMBRE FROM ROL
END
GO
/****** Object:  StoredProcedure [dbo].[OBTENERSECTORES]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OBTENERSECTORES]
AS
BEGIN
SELECT ID,NOMBRE FROM SECTOR
END
GO
/****** Object:  StoredProcedure [dbo].[OBTENERUSUARIOS]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENERUSUARIOS]
@IDUSUARIO INT,
@NOMBRE VARCHAR(200)
AS
BEGIN
SELECT U.ID,U.NOMBRE,U.TELEFONO, D.CALLE  ,D.NUMERO , C.NOMBRE AS NOMBRECOMUNA FROM USUARIO U
INNER JOIN DIRECCION D ON U.ID_DIRECCION = D.ID
INNER JOIN COMUNA C ON D.ID_COMUNA = C.ID 
WHERE (U.ID = @IDUSUARIO OR @IDUSUARIO IS NULL) 
AND (@NOMBRE IS NULL OR U.NOMBRE  like '%'+ @NOMBRE + '%')
END
GO
/****** Object:  StoredProcedure [dbo].[OBTENERVENTA]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OBTENERVENTA] 
@IDVENTA INT,
@TIPOVENTA VARCHAR(20)
AS
BEGIN
DECLARE @VEINTELTS INT
DECLARE @DIEZLTS INT
DECLARE @TOTAL INT
    SELECT 
		MAX(V.FECHA) AS FECHA,
        U.NOMBRE AS NOMBREUSUARIO,
        SUM(CASE WHEN P.TIPO_PRODUCTO LIKE '%20 lts%' THEN V.CANTIDAD ELSE 0 END) AS 'VEINTELTS',
        SUM(CASE WHEN P.TIPO_PRODUCTO LIKE '%10 lts%' THEN V.CANTIDAD ELSE 0 END) AS 'DIEZLTS',
        
        MAX(V.DETALLE) AS DETALLE,
        MAX(V.METODO_PAGO) AS METODO_PAGO,
        MAX(V.ESTADO_PAGO) AS ESTADO_PAGO,
        
        SUM(V.TOTAL) AS TOTAL   
    FROM 
        VENTA_PRODUCTO V 
    INNER JOIN 
        USUARIO U ON V.ID_USUARIO = U.ID
    INNER JOIN 
        PRODUCTO P ON V.ID_PRODUCTO = P.ID
    WHERE 
        (V.ID = @IDVENTA OR @IDVENTA IS NULL)
        AND (V.TIPO_VENTA = @TIPOVENTA OR @TIPOVENTA IS NULL)
        
    GROUP BY 
        U.NOMBRE,
		v.FECHA
END
GO
/****** Object:  StoredProcedure [dbo].[OBTNERTIPORUTA]    Script Date: 05-03-2024 19:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[OBTNERTIPORUTA]
@IDRUTA INT
AS
BEGIN
SELECT * FROM RUTA WHERE ID = @IDRUTA
END

GO
USE [master]
GO
