USE [master]
GO
/****** Object:  Database [AQUAMIN]    Script Date: 11-04-2024 18:21:48 ******/
CREATE DATABASE [AQUAMIN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AQUAMIN', FILENAME = N'G:\sql\MSSQL12.SQLEXPRESS\MSSQL\DATA\AQUAMIN.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AQUAMIN_log', FILENAME = N'G:\sql\MSSQL12.SQLEXPRESS\MSSQL\DATA\AQUAMIN_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AQUAMIN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AQUAMIN]
GO
/****** Object:  UserDefinedFunction [dbo].[CALCULARPRECIOPORMAYOR]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[CALCULARPRECIOPORMAYOR](@IDPRODUCTO INT,@CANTIDAD INT)
RETURNS DECIMAL
AS
BEGIN
DECLARE @IDPRODUCTOS INT
DECLARE @SECTOR VARCHAR(MAX)
DECLARE @PRECIOPORMAYOR DECIMAL

SELECT @IDPRODUCTOS = ID FROM PRODUCTO WHERE ID = @IDPRODUCTO

SET @PRECIOPORMAYOR = 
    CASE 
        WHEN @IDPRODUCTOS = 4 AND @CANTIDAD > 9 THEN 1300
        WHEN @IDPRODUCTOS = 5 AND (@CANTIDAD > 9 AND @CANTIDAD < 20) THEN 750
        WHEN @IDPRODUCTOS = 3 AND (@CANTIDAD > 9 AND @CANTIDAD < 20) THEN 2500
        WHEN @IDPRODUCTOS = 8 AND (@CANTIDAD > 9 AND @CANTIDAD < 20) THEN 2000
		WHEN @IDPRODUCTOS = 6 AND (@CANTIDAD > 9 AND @CANTIDAD < 20) THEN 2100
		WHEN @IDPRODUCTOS = 7 AND (@CANTIDAD > 9 AND @CANTIDAD < 20) THEN 1300
        ELSE 0 
    END
RETURN @PRECIOPORMAYOR
END
GO
/****** Object:  UserDefinedFunction [dbo].[CALCULARVALORDESPACHO]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[CALCULARVALORDESPACHO](@IDPRODUCTO INT,@CANTIDAD INT)
RETURNS DECIMAL
AS
BEGIN
DECLARE @VALORDESPACHO DECIMAL;
DECLARE @SECTOR VARCHAR(MAX)

SELECT @SECTOR = TIPO_PRODUCTO FROM PRODUCTO WHERE ID = @IDPRODUCTO

IF CHARINDEX('Planta',@SECTOR)>0
BEGIN
SET @VALORDESPACHO = 0
END

IF (CHARINDEX('Oriente', @SECTOR) > 0 OR CHARINDEX('Poniente', @SECTOR) > 0) AND @CANTIDAD > 3
BEGIN
SET @VALORDESPACHO = 0
END

if CHARINDEX('Poniente',@SECTOR) > 0 AND @CANTIDAD<4
BEGIN
SET @VALORDESPACHO = 1500
END

if CHARINDEX('Oriente',@SECTOR) > 0 AND @CANTIDAD<4
BEGIN
SET @VALORDESPACHO = 2000
END

RETURN @VALORDESPACHO;
END

GO
/****** Object:  UserDefinedFunction [dbo].[CANTTIDADBIDONES]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CANTTIDADBIDONES](@IDUSUARIO INT,@FECHA DATE)
RETURNS INT
AS
BEGIN
DECLARE @VEINTELTS INT;
DECLARE @DIEZLTS INT;
DECLARE @TOTAL INT;

SELECT 

	 @VEINTELTS = SUM(CASE WHEN P.TIPO_PRODUCTO LIKE '%'+'20 lts'+'%' THEN V.CANTIDAD ELSE 0 END),
	 @DIEZLTS = SUM(CASE WHEN P.TIPO_PRODUCTO LIKE '%'+'10 lts'+'%' THEN V.CANTIDAD ELSE 0 END)

 FROM VENTA_PRODUCTO V
 INNER JOIN PRODUCTO P ON V.ID_PRODUCTO = P.ID
 WHERE V.ID_USUARIO = @IDUSUARIO AND V.FECHA = @FECHA
 SET @TOTAL = @VEINTELTS + @DIEZLTS
 RETURN @TOTAL
END
GO
/****** Object:  UserDefinedFunction [dbo].[Split_String]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Split_String]
(
    @String NVARCHAR(MAX),
    @Delimiter CHAR(1)
)
RETURNS @Result TABLE (Value NVARCHAR(MAX))
AS
BEGIN
    DECLARE @Pos INT

    WHILE CHARINDEX(@Delimiter, @String) > 0
    BEGIN
        SET @Pos = CHARINDEX(@Delimiter, @String)
        INSERT INTO @Result (Value) VALUES (SUBSTRING(@String, 1, @Pos-1))
        SET @String = SUBSTRING(@String, @Pos+1, LEN(@String)-@Pos)
    END

    INSERT INTO @Result (Value) VALUES (@String)
    RETURN
END

GO
/****** Object:  UserDefinedFunction [dbo].[SplitString]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SplitString]
(
    @String NVARCHAR(MAX),
    @Delimiter CHAR(1)
)
RETURNS @Result TABLE (Value NVARCHAR(MAX))
AS
BEGIN
    DECLARE @Pos INT

    WHILE CHARINDEX(@Delimiter, @String) > 0
    BEGIN
        SET @Pos = CHARINDEX(@Delimiter, @String)
        INSERT INTO @Result (Value) VALUES (SUBSTRING(@String, 1, @Pos-1))
        SET @String = SUBSTRING(@String, @Pos+1, LEN(@String)-@Pos)
    END

    INSERT INTO @Result (Value) VALUES (@String)
    RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[VALORTOTAL]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[VALORTOTAL](@IDPRODUCTO INT,@CANTIDAD INT)
RETURNS DECIMAL
AS
BEGIN
DECLARE @TOTAL DECIMAL;
DECLARE @PRECIO DECIMAL;
DECLARE @VALORDESPACHO DECIMAL;
DECLARE @PRECIOPORMAYOR DECIMAL

SET @VALORDESPACHO = dbo.CALCULARVALORDESPACHO(@IDPRODUCTO,@CANTIDAD);

IF @CANTIDAD>9
BEGIN
SET @PRECIOPORMAYOR = DBO.CALCULARPRECIOPORMAYOR(@IDPRODUCTO,@CANTIDAD)
SET @TOTAL = @PRECIOPORMAYOR*@CANTIDAD + @VALORDESPACHO;
END
ELSE
BEGIN
SELECT @PRECIO = PRECIO FROM PRODUCTO WHERE ID = @IDPRODUCTO;
SET @TOTAL = @PRECIO*@CANTIDAD + @VALORDESPACHO;
END
RETURN @TOTAL

END
GO
/****** Object:  Table [dbo].[BOLETA]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BOLETA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RUT] [varchar](20) NOT NULL,
	[ID_VENTA] [int] NOT NULL,
	[DETALLE] [varchar](max) NULL,
	[TOTAL] [decimal](18, 0) NULL,
	[FECHA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMUNA]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMUNA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[ID_SECTOR] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIRECCION]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIRECCION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CALLE] [varchar](200) NOT NULL,
	[NUMERO] [int] NOT NULL,
	[ID_COMUNA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_PRODUCTO] [varchar](100) NOT NULL,
	[PRECIO] [decimal](10, 2) NOT NULL,
	[STOCK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RUTA_DESPACHO]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RUTA_DESPACHO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_VENTA] [int] NOT NULL,
	[COMENTARIO] [varchar](200) NULL,
	[FOTO] [varbinary](max) NULL,
	[ESTADO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SECTOR]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SECTOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRANSACCION]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACCION](
	[IDTRANSACCION] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](200) NOT NULL,
	[TELEFONO] [varchar](20) NOT NULL,
	[CORREO] [varchar](100) NULL,
	[CONSTRASENA] [nvarchar](max) NULL,
	[ID_DIRECCION] [int] NOT NULL,
	[ID_ROL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENTA_PRODUCTO]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VENTA_PRODUCTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[ESTADO_PAGO] [varchar](50) NOT NULL,
	[METODO_PAGO] [varchar](60) NOT NULL,
	[TOTAL] [decimal](10, 2) NOT NULL,
	[TIPO_VENTA] [varchar](50) NOT NULL,
	[VALOR_DESPACHO] [decimal](10, 2) NULL,
	[DETALLE] [varchar](200) NULL,
	[FECHA] [date] NOT NULL,
	[PRIORIDAD] [int] NULL,
	[CANTIDAD] [int] NULL,
	[NUMEROVENTA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[RUTA_DESPACHO] ADD  DEFAULT ('NO ENTREGADO') FOR [ESTADO]
GO
ALTER TABLE [dbo].[BOLETA]  WITH CHECK ADD  CONSTRAINT [ID_VENTABOLETA_FK] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[VENTA_PRODUCTO] ([ID])
GO
ALTER TABLE [dbo].[BOLETA] CHECK CONSTRAINT [ID_VENTABOLETA_FK]
GO
ALTER TABLE [dbo].[COMUNA]  WITH CHECK ADD  CONSTRAINT [SECTOR_FK] FOREIGN KEY([ID_SECTOR])
REFERENCES [dbo].[SECTOR] ([ID])
GO
ALTER TABLE [dbo].[COMUNA] CHECK CONSTRAINT [SECTOR_FK]
GO
ALTER TABLE [dbo].[DIRECCION]  WITH CHECK ADD  CONSTRAINT [COMUNA_FK] FOREIGN KEY([ID_COMUNA])
REFERENCES [dbo].[COMUNA] ([ID])
GO
ALTER TABLE [dbo].[DIRECCION] CHECK CONSTRAINT [COMUNA_FK]
GO
ALTER TABLE [dbo].[RUTA_DESPACHO]  WITH CHECK ADD  CONSTRAINT [ID_VENTA_FK] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[VENTA_PRODUCTO] ([ID])
GO
ALTER TABLE [dbo].[RUTA_DESPACHO] CHECK CONSTRAINT [ID_VENTA_FK]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [DIRECCION_FK] FOREIGN KEY([ID_DIRECCION])
REFERENCES [dbo].[DIRECCION] ([ID])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [DIRECCION_FK]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [ROL_FK] FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[ROL] ([ID])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [ROL_FK]
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [ID_PRODUCTO_FK] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID])
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO] CHECK CONSTRAINT [ID_PRODUCTO_FK]
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [ID_USUARIO_FK] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO] CHECK CONSTRAINT [ID_USUARIO_FK]
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [ESTADO_PAGO_CHECK] CHECK  (([ESTADO_PAGO]='nopagado' OR [ESTADO_PAGO]='pagado'))
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO] CHECK CONSTRAINT [ESTADO_PAGO_CHECK]
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [METODO_PAGO_CHECK] CHECK  (([METODO_PAGO]='transferencia' OR [METODO_PAGO]='tarjeta' OR [METODO_PAGO]='efectivo'))
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO] CHECK CONSTRAINT [METODO_PAGO_CHECK]
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [TIPO_VENTA_CHECK] CHECK  (([TIPO_VENTA]='hogar' OR [TIPO_VENTA]='planta'))
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO] CHECK CONSTRAINT [TIPO_VENTA_CHECK]
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZARDATOSUSUARIO]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ACTUALIZARDATOSUSUARIO]
@IDUSUARIO INT ,
@NOMBRE VARCHAR(200),
@TELEFONO VARCHAR(20),
@CALLE VARCHAR(200) ,
@NUMERO INT ,
@IDCOMUNA INT ,
@IDIRECCION INT
AS
BEGIN

UPDATE DIRECCION 
SET CALLE = @CALLE,NUMERO = @NUMERO ,ID_COMUNA = @IDCOMUNA WHERE ID = @IDIRECCION 

UPDATE USUARIO
SET NOMBRE = @NOMBRE,TELEFONO = @TELEFONO, ID_DIRECCION = @IDIRECCION WHERE ID = @IDUSUARIO
END



GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZARDATOSVENTA]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZARDATOSVENTA]
@IDVENTA INT,
@IDUSUARIO INT,
@IDPRODUCTO INT,
@ESTADO_PAGO VARCHAR(50),
@METODO_PAGO VARCHAR(60),
@CANTIDAD INT,
@FECHA DATETIME,
@TOTAL DECIMAL(10,2),
@TIPO_VENTA VARCHAR(30),
@VALOR_DESPACHO DECIMAL(10,2),
@DETALLE VARCHAR(200),
@PRIORIDAD INT
AS
BEGIN
UPDATE VENTA_PRODUCTO
SET ID_USUARIO = @IDUSUARIO,ID_PRODUCTO = @IDPRODUCTO,ESTADO_PAGO = @ESTADO_PAGO,METODO_PAGO = @METODO_PAGO,CANTIDAD = @CANTIDAD,FECHA = @FECHA,
TOTAL = @TOTAL,TIPO_VENTA = @TIPO_VENTA,VALOR_DESPACHO = @VALOR_DESPACHO,DETALLE = @DETALLE,PRIORIDAD = @PRIORIDAD WHERE ID = @IDVENTA
END
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZARPRODUCTO]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ACTUALIZARPRODUCTO]
@IDPRODUCTO INT,
@IDUSUARIO INT,
@TIPO_PRODUCTO VARCHAR(100),
@PRECIO DECIMAL (10,2),
@STOCK INT
AS
BEGIN
DECLARE @IDROL INT, @RESULTADO INT;

SELECT @IDROL = ID_ROL FROM USUARIO WHERE ID = @IDUSUARIO

IF @IDROL = 1
BEGIN
UPDATE PRODUCTO
SET TIPO_PRODUCTO = @TIPO_PRODUCTO,PRECIO = @PRECIO, STOCK = @STOCK WHERE ID = @IDPRODUCTO
SET @RESULTADO = 0
END
ELSE
BEGIN
SET @RESULTADO = 1
END
SELECT @RESULTADO AS RESULTADO
END
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZARPRODUCTORUTA]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ACTUALIZARPRODUCTORUTA]
@ID INT,
@COMENTARIO VARCHAR(200),
@ESTADO VARCHAR(50)
AS
BEGIN
        UPDATE RUTA_DESPACHO
        SET COMENTARIO = @COMENTARIO, ESTADO = @ESTADO
        WHERE ID = @ID;
  
END
GO
/****** Object:  StoredProcedure [dbo].[ACTULIZARVALORTOTAL]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ACTULIZARVALORTOTAL]
@IDUSUARIO INT,
@FECHA DATE
AS
BEGIN
DECLARE @VALORDESPACHO DECIMAL (10,2)
DECLARE @CANTIDADCOLUMNA INT
 SELECT 
        @VALORDESPACHO = SUM(VALOR_DESPACHO),
        @CANTIDADCOLUMNA = COUNT(*)
    FROM 
        VENTA_PRODUCTO
    WHERE 
        ID_USUARIO = @IDUSUARIO AND FECHA = @FECHA

IF @VALORDESPACHO > 0
BEGIN
PRINT @VALORDESPACHO
UPDATE VENTA_PRODUCTO 
SET VALOR_DESPACHO = 0,TOTAL = TOTAL - (@VALORDESPACHO/@CANTIDADCOLUMNA)  WHERE ID_USUARIO = @IDUSUARIO AND FECHA = @FECHA
END

END

GO
/****** Object:  StoredProcedure [dbo].[BUSCARPRODUCTO]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCARPRODUCTO] 
@IDPRODUCTO INT,
@TIPO_PRODUCTO VARCHAR(200)
AS
BEGIN
SELECT ID,TIPO_PRODUCTO,PRECIO,STOCK FROM PRODUCTO 
WHERE (ID = @IDPRODUCTO OR @IDPRODUCTO IS NULL)
AND (TIPO_PRODUCTO LIKE '%' + @TIPO_PRODUCTO + '%' OR @TIPO_PRODUCTO IS NULL)
END



GO
/****** Object:  StoredProcedure [dbo].[CREAR_USUARIO]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CREAR_USUARIO]
@NOMBRE VARCHAR(200),
@TELEFONO VARCHAR(20),
@CALLE VARCHAR(200) ,
@NUMERO INT ,
@IDCOMUNA INT ,
@CORREO VARCHAR(100),
@CONTRASENA NVARCHAR(MAX),
@IDROL INT ,
@IDIRECCION INT OUTPUT
AS
BEGIN
DECLARE @RESULTADO INT;
/*INGRESANDO DIRECCION*/

INSERT INTO DIRECCION(CALLE,NUMERO,ID_COMUNA) VALUES (@CALLE,@NUMERO,@IDCOMUNA)

/*OBTENIENDO ID DIRECCION*/

SET @IDIRECCION = SCOPE_IDENTITY()

IF EXISTS (SELECT ID FROM USUARIO WHERE CORREO = @CORREO AND CORREO !='')
BEGIN
SET @RESULTADO = 1
END 

/* INGRESANDO DATOS DE USUARIO  CLIENTE*/
ELSE
BEGIN
INSERT INTO USUARIO(NOMBRE,TELEFONO,CORREO,CONSTRASENA,ID_DIRECCION,ID_ROL) VALUES (@NOMBRE,@TELEFONO,@CORREO,@CONTRASENA,@IDIRECCION,@IDROL)
SET @RESULTADO = 2
END
SELECT @RESULTADO AS RESULTADO;
END

GO
/****** Object:  StoredProcedure [dbo].[CREARBOLETA]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[CREARBOLETA]
@IDVENTA INT
AS
BEGIN

INSERT INTO BOLETA(ID_VENTA,RUT,DETALLE,FECHA,TOTAL)
SELECT V.ID,ID_USUARIO,CONCAT('Producto:',p.TIPO_PRODUCTO,v.CANTIDAD)
,V.FECHA,V.TOTAL FROM VENTA_PRODUCTO V
INNER JOIN PRODUCTO P ON P.ID = V.ID_PRODUCTO
WHERE V.ID = @IDVENTA



END
GO
/****** Object:  StoredProcedure [dbo].[DELETEVENTA]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DELETEVENTA]
@IDVENTA INT
AS
BEGIN
DELETE FROM VENTA_PRODUCTO WHERE ID = @IDVENTA
END
GO
/****** Object:  StoredProcedure [dbo].[DETALLEBOLETATOTAL]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DETALLEBOLETATOTAL]
@IDUSUARIO INT,
@FECHA DATE
AS
BEGIN


CREATE TABLE #TEMPDETALLEBOLETA(
		NUMEROBOLETA INT,
        RUT INT,
        FECHABOLETA DATE,
		NOMBREPRODUCTO VARCHAR(MAX),
        PRECIOPRODUCTO DECIMAL,
        CANTIDAD INT,
        VALORDESPACHO INT,
        TOTAL DECIMAL
);

INSERT INTO #TEMPDETALLEBOLETA
SELECT 

CAST(ROW_NUMBER () OVER (ORDER BY MAX(b.FECHA))AS INT) ,
MAX(b.RUT),
MAX(b.FECHA),
MAX(P.TIPO_PRODUCTO),
(SELECT P.PRECIO FROM PRODUCTO P WHERE V.ID_PRODUCTO = P.ID),
SUM(V.CANTIDAD) ,
MAX(V.VALOR_DESPACHO),SUM(V.TOTAL)

FROM BOLETA b
INNER JOIN VENTA_PRODUCTO v ON V.ID = B.ID_VENTA
INNER JOIN PRODUCTO P ON V.ID_PRODUCTO = P.ID

WHERE B.RUT = @IDUSUARIO AND B.FECHA = @FECHA
GROUP BY

v.ID_PRODUCTO

SELECT 
NUMEROBOLETA ,
        RUT ,
        FECHABOLETA ,
		NOMBREPRODUCTO,
        PRECIOPRODUCTO ,
        CANTIDAD ,
        VALORDESPACHO ,
        TOTAL 
FROM #TEMPDETALLEBOLETA
DROP TABLE #TEMPDETALLEBOLETA
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINARPRODUCTO]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINARPRODUCTO]
@IDPRODUCTO INT,
@IDUSUARIO INT
AS
BEGIN
DECLARE @IDROL INT , @RESULTADO INT;
SELECT @IDROL = ID_ROL  FROM USUARIO WHERE ID = @IDUSUARIO
IF @IDROL = 1
BEGIN
DELETE FROM PRODUCTO WHERE ID = @IDPRODUCTO
SET @RESULTADO = 0
END
ELSE
BEGIN
SET @RESULTADO = 1
END
SELECT @RESULTADO AS RESULTADO
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINARUSUARIO]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINARUSUARIO]
@IDUSUARIO INT
AS
BEGIN
DELETE FROM USUARIO WHERE ID = @IDUSUARIO
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINARVENTARUTA]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINARVENTARUTA]
@ID INT
AS
BEGIN
DELETE FROM RUTA_DESPACHO WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[GENERARRUTA]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GENERARRUTA]
@IDSECTOR INT
AS
BEGIN
SELECT 
CAST(ROW_NUMBER() OVER (ORDER BY MAX(V.PRIORIDAD)) AS INT) AS NumeroDespacho,
MAX(V.FECHA) AS FECHA,
U.NOMBRE AS NOMBREUSUARIO,
SUM(CASE WHEN P.TIPO_PRODUCTO LIKE '%20 lts%' THEN V.CANTIDAD ELSE 0 END) AS 'VEINTELTS',
SUM(CASE WHEN P.TIPO_PRODUCTO LIKE '%10 lts%' THEN V.CANTIDAD ELSE 0 END) AS 'DIEZLTS',
MAX(V.DETALLE) AS DETALLE,
MAX(U.TELEFONO) AS TELEFONO
,MAX(D.CALLE) AS CALLE,
MAX(D.NUMERO) AS NUMERO,
MAX(C.NOMBRE) AS COMUNA,
MAX(V.METODO_PAGO) AS METODO_PAGO
,sum(V.TOTAL) AS TOTAL,
MAX(R.ESTADO) AS ESTADOENTREGA,
MAX(R.COMENTARIO)
 AS COMENTARIO,
 MAX(R.FOTO) AS FOTO 
 FROM RUTA_DESPACHO R

INNER JOIN VENTA_PRODUCTO V ON V.ID = R.ID_VENTA
INNER JOIN USUARIO U ON V.ID_USUARIO = U.ID
INNER JOIN PRODUCTO P ON V.ID_PRODUCTO = P.ID
INNER JOIN DIRECCION D ON U.ID_DIRECCION = D.ID
INNER JOIN COMUNA C ON D.ID_COMUNA = C.ID
INNER JOIN SECTOR S ON C.ID_SECTOR = S.ID

WHERE S.ID = @IDSECTOR AND V.FECHA = CONVERT(date,GETDATE())

GROUP BY
U.NOMBRE,
V.FECHA
ORDER BY MAX(V.PRIORIDAD)
END
GO
/****** Object:  StoredProcedure [dbo].[HISTORIALPRODCTOCLIENTE]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HISTORIALPRODCTOCLIENTE]
@IDUSUARIO INT,
@FECHA DATE
AS
BEGIN

SELECT V.ID AS IDVENTA,V.FECHA,U.NOMBRE AS NOMBREUSUARIO,V.ID_PRODUCTO,P.TIPO_PRODUCTO,P.PRECIO AS PRECIOUNITARIO,V.CANTIDAD,V.DETALLE,V.ESTADO_PAGO,V.METODO_PAGO,V.TOTAL FROM VENTA_PRODUCTO V
INNER JOIN USUARIO U ON V.ID_USUARIO = U.ID
INNER JOIN PRODUCTO P ON V.ID_PRODUCTO = P.ID
WHERE V.ID_USUARIO = @IDUSUARIO AND (@FECHA IS NULL OR V.FECHA = @FECHA) 
END

GO
/****** Object:  StoredProcedure [dbo].[INGRESARNUMEROVENTA]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INGRESARNUMEROVENTA] 
    @FECHA DATE,
    @IDUSUARIO INT
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Verificar si el usuario ya realizó una compra en la fecha especificada
        DECLARE @NUMEROVENTA INT;
		DECLARE @NOMBREUSUARIO VARCHAR(MAX);
		DECLARE @IDVENTA INT;
        SELECT @NUMEROVENTA = NUMEROVENTA,@IDVENTA = ID
        FROM VENTA_PRODUCTO
        WHERE ID_USUARIO = @IDUSUARIO AND FECHA = @FECHA;

		SELECT @NOMBREUSUARIO = NOMBRE  FROM USUARIO WHERE ID = @IDUSUARIO

        IF @NUMEROVENTA IS NULL OR @NOMBREUSUARIO = 'Planta'
        BEGIN
            -- Si el usuario no ha realizado ninguna compra en la fecha especificada, obtener el último número de venta global
            DECLARE @NUEVO_NUMEROVENTA INT = (SELECT COALESCE(MAX(NUMEROVENTA), 0) + 1 FROM VENTA_PRODUCTO);

			UPDATE VENTA_PRODUCTO SET NUMEROVENTA = @NUEVO_NUMEROVENTA WHERE ID = @IDVENTA
        END
        ELSE
        BEGIN
            -- Si el usuario ya realizó una compra en la fecha especificada, utilizar el mismo número de venta para todas las compras adicionales
            SET @NUMEROVENTA = COALESCE(@NUMEROVENTA, 0);
			UPDATE VENTA_PRODUCTO SET NUMEROVENTA = @NUMEROVENTA WHERE ID_USUARIO = @IDUSUARIO AND FECHA = @FECHA
           
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Manejar cualquier error que ocurra durante la ejecución
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[INGRESARPRODUCTOS]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INGRESARPRODUCTOS]
@IDUSUARIO INT,
@TIPO_PRODUCTO VARCHAR(100),
@PRECIO DECIMAL(10,2),
@STOCK INT
AS
BEGIN
DECLARE @IDROL INT,@RESULTADO INT;
SELECT @IDROL = ID_ROL  FROM USUARIO WHERE ID = @IDUSUARIO
IF @IDROL = 1
BEGIN
INSERT INTO PRODUCTO(TIPO_PRODUCTO,PRECIO,STOCK) VALUES(@TIPO_PRODUCTO,@PRECIO,@STOCK)
SET @RESULTADO = 0
END
ELSE
BEGIN
SET @RESULTADO = 1 
END
SELECT @RESULTADO AS RESULTADO
END
GO
/****** Object:  StoredProcedure [dbo].[INGRESARTRANSACCION]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[INGRESARTRANSACCION] 

AS
BEGIN
    -- Declarar una tabla de variables de tabla para almacenar los números de venta únicos
    DECLARE @NumerosVenta TABLE (
        NumeroVenta INT
    );

    -- Realizar la consulta para obtener los números de venta únicos y almacenarlos en la tabla de variables de tabla
    INSERT INTO @NumerosVenta (NumeroVenta)
    SELECT DISTINCT CAST(ROW_NUMBER() OVER (ORDER BY MAX(V.FECHA)) AS INT) AS NumeroVenta
    FROM 
        VENTA_PRODUCTO V 
    INNER JOIN 
        USUARIO U ON V.ID_USUARIO = U.ID
   
    GROUP BY 
        U.NOMBRE,
        V.FECHA;

    -- Iterar sobre los números de venta y realizar la inserción en la tabla TRANSACCION
    DECLARE @NumeroVenta INT;
    DECLARE numeros_cursor CURSOR FOR
    SELECT NumeroVenta FROM @NumerosVenta;
    
    OPEN numeros_cursor;
    FETCH NEXT FROM numeros_cursor INTO @NumeroVenta;
    
    WHILE @@FETCH_STATUS = 0
    BEGIN
		IF NOT EXISTS (SELECT IDTRANSACCION FROM TRANSACCION WHERE IDTRANSACCION = @NumeroVenta)
		BEGIN
		INSERT INTO TRANSACCION(IDTRANSACCION) VALUES (@NumeroVenta);
        FETCH NEXT FROM numeros_cursor INTO @NumeroVenta;
		END 
        
    END
    
    CLOSE numeros_cursor;
    DEALLOCATE numeros_cursor;

    
END
GO
/****** Object:  StoredProcedure [dbo].[INGRESARVENTA]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INGRESARVENTA]
@IDUSUARIO INT,
@IDPRODUCTO INT,
@ESTADO_PAGO VARCHAR(50),
@METODO_PAGO VARCHAR(60),
@TIPO_VENTA VARCHAR(30),
@DETALLE VARCHAR(200),
@FECHA DATE,
@PRIORIDAD INT = NULL,
@CANTIDAD INT,
@RESULTADO INT OUTPUT
AS
BEGIN
DECLARE @VALORDESPACHO DECIMAL
DECLARE @VALOR_TOTAL DECIMAL
DECLARE @IDVENTA INT;
DECLARE @CANTIDADBIDONESTOTAL INT;

SET @VALORDESPACHO = dbo.CALCULARVALORDESPACHO(@IDPRODUCTO,@CANTIDAD)
SET @VALOR_TOTAL = dbo.VALORTOTAL(@IDPRODUCTO,@CANTIDAD)

IF @TIPO_VENTA = 'Hogar'
BEGIN
IF @PRIORIDAD IS NOT NULL
BEGIN
INSERT INTO VENTA_PRODUCTO(ID_USUARIO, ID_PRODUCTO, ESTADO_PAGO, METODO_PAGO, TOTAL, TIPO_VENTA,VALOR_DESPACHO,DETALLE,FECHA,PRIORIDAD,CANTIDAD)
    SELECT @IDUSUARIO, @IDPRODUCTO, @ESTADO_PAGO, @METODO_PAGO, @VALOR_TOTAL, @TIPO_VENTA,@VALORDESPACHO,@DETALLE,@FECHA,@PRIORIDAD,@CANTIDAD
    FROM dbo.SplitString(@IDPRODUCTO, ',');
	SET @RESULTADO = 1
	SET @IDVENTA = SCOPE_IDENTITY()
END
END
ELSE IF @PRIORIDAD IS NULL
BEGIN
SET @RESULTADO = 0
END

IF @TIPO_VENTA = 'Planta'
BEGIN
INSERT INTO VENTA_PRODUCTO(ID_USUARIO, ID_PRODUCTO, ESTADO_PAGO, METODO_PAGO, TOTAL, TIPO_VENTA,VALOR_DESPACHO,DETALLE,FECHA,PRIORIDAD,CANTIDAD)
    SELECT @IDUSUARIO, @IDPRODUCTO, @ESTADO_PAGO, @METODO_PAGO, @VALOR_TOTAL, @TIPO_VENTA,@VALORDESPACHO,@DETALLE,@FECHA,@PRIORIDAD,@CANTIDAD
    FROM dbo.SplitString(@IDPRODUCTO, ',');
	SET @RESULTADO = 1   
	SET @IDVENTA = SCOPE_IDENTITY()

END



SET @CANTIDADBIDONESTOTAL = dbo.CANTTIDADBIDONES(@IDUSUARIO,@FECHA)
if @CANTIDADBIDONESTOTAL>3
BEGIN
EXEC ACTULIZARVALORTOTAL @IDUSUARIO,@FECHA
END
IF @RESULTADO = 1
BEGIN
EXEC INGRESARNUMEROVENTA @FECHA,@IDUSUARIO
EXEC CREARBOLETA @IDVENTA
END

SELECT @RESULTADO AS RESULTADO
END


/*GENERANDO BOLETA
IF @RESULTADO = 1
BEGIN
DECLARE @DETALLE_BOLETA VARCHAR(MAX);
IF @CANTIDAD_20LTS>0
BEGIN
SET @DETALLE_BOLETA = CONCAT(@DETALLE_BOLETA,'Cantidad Bidones 20LTS:',@CANTIDAD_20LTS,',')
END
IF @CANTIDAD_10LTS>0
BEGIN
SET @DETALLE_BOLETA = CONCAT(@DETALLE_BOLETA,'Cantidad Bidones 10LTS:',@CANTIDAD_10LTS,',')
END
IF @EXTRA>0
BEGIN
SET @DETALLE_BOLETA = CONCAT(@DETALLE_BOLETA,'Cantidad Extra:',@EXTRA,',')
END
SET @DETALLE_BOLETA = LEFT(@DETALLE_BOLETA,LEN(@DETALLE_BOLETA)-1);
INSERT INTO BOLETA (RUT, FECHA, ID_VENTA, DETALLE,TOTAL)
VALUES (@IDUSUARIO, GETDATE(), @IDVENTA, @DETALLE_BOLETA,@TOTAL);
END*/
GO
/****** Object:  StoredProcedure [dbo].[INICIARSESION]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INICIARSESION]
@CORREO VARCHAR(200)
AS
BEGIN
SET NOCOUNT ON;

DECLARE @NOMBRE VARCHAR(100),
@IDUSUARIO INT,
@IDROL INT,
@CONTRASENA NVARCHAR(MAX)

SELECT @IDUSUARIO = ID,@NOMBRE = NOMBRE,@CONTRASENA = CONSTRASENA,@IDROL = ID_ROL FROM USUARIO WHERE CORREO = @CORREO

SELECT @IDUSUARIO AS 'IDUSUARIO',
		@NOMBRE AS 'NOMBREUSUARIO',
		@IDROL AS 'IDROL',
		@CONTRASENA AS 'CONTRASENA' 

END

GO
/****** Object:  StoredProcedure [dbo].[INRESARRUTADESPACHO]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INRESARRUTADESPACHO]
AS
BEGIN
INSERT INTO RUTA_DESPACHO (ID_VENTA) 
SELECT ID FROM VENTA_PRODUCTO
WHERE FECHA = CONVERT(date,GETDATE())
AND ID NOT IN(SELECT ID_VENTA FROM RUTA_DESPACHO) AND (TIPO_VENTA = 'Hogar')
END

GO
/****** Object:  StoredProcedure [dbo].[OBTENERCOMUNAS]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OBTENERCOMUNAS]
AS
BEGIN

SELECT C.ID,C.NOMBRE, S.ID AS IDSECTOR,S.NOMBRE AS NOMBRESECTOR FROM COMUNA C INNER JOIN SECTOR S ON S.ID = C.ID_SECTOR
ORDER BY C.NOMBRE
END
GO
/****** Object:  StoredProcedure [dbo].[OBTENERROLES]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENERROLES]
AS
BEGIN

SELECT ID,NOMBRE FROM ROL
END
GO
/****** Object:  StoredProcedure [dbo].[OBTENERSECTORES]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OBTENERSECTORES]
AS
BEGIN
SELECT ID,NOMBRE FROM SECTOR
END
GO
/****** Object:  StoredProcedure [dbo].[OBTENERUSUARIOS]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENERUSUARIOS]
@IDUSUARIO INT,
@NOMBRE VARCHAR(200)
AS
BEGIN
SELECT U.ID,U.NOMBRE,U.TELEFONO, D.CALLE  ,D.NUMERO , C.NOMBRE AS NOMBRECOMUNA,C.ID AS IDCOMUNA, U.ID_ROL AS IDROL,u.ID_DIRECCION AS IDIRECCION FROM USUARIO U
INNER JOIN DIRECCION D ON U.ID_DIRECCION = D.ID
INNER JOIN COMUNA C ON D.ID_COMUNA = C.ID 
WHERE (U.ID = @IDUSUARIO OR @IDUSUARIO IS NULL) 
AND (@NOMBRE IS NULL OR U.NOMBRE  like '%'+ @NOMBRE + '%')
END
GO
/****** Object:  StoredProcedure [dbo].[OBTENERVENTA]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENERVENTA] 
@IDVENTA INT,
@TIPOVENTA VARCHAR(20),
@FECHA DATE,
@SECTOR INT
AS
BEGIN
    -- Consulta para ventas con nombre de usuario "Planta"
    SELECT 
        V.NUMEROVENTA AS NumeroVenta,        
        V.FECHA AS FECHA,
        U.ID AS IDUSUARIO,
        U.NOMBRE AS NOMBREUSUARIO,
        CASE WHEN P.TIPO_PRODUCTO LIKE '%20 lts%' THEN V.CANTIDAD ELSE 0 END AS 'VEINTELTS',
        CASE WHEN P.TIPO_PRODUCTO LIKE '%10 lts%' THEN V.CANTIDAD ELSE 0 END AS 'DIEZLTS',    
        V.DETALLE AS DETALLE,
        V.METODO_PAGO AS METODO_PAGO,
        V.ESTADO_PAGO AS ESTADO_PAGO,
        C.NOMBRE AS COMUNA,
        V.TOTAL   
    FROM 
        VENTA_PRODUCTO V 
    INNER JOIN 
        USUARIO U ON V.ID_USUARIO = U.ID
    INNER JOIN 
        PRODUCTO P ON V.ID_PRODUCTO = P.ID
    INNER JOIN
        DIRECCION D ON D.ID = U.ID_DIRECCION
    INNER JOIN 
        COMUNA C ON C.ID = D.ID_COMUNA
    INNER JOIN 
        SECTOR S ON C.ID_SECTOR = S.ID
    WHERE 
        (V.ID = @IDVENTA OR @IDVENTA IS NULL)
        AND (V.TIPO_VENTA = @TIPOVENTA OR @TIPOVENTA IS NULL)
        AND (V.FECHA = @FECHA OR @FECHA IS NULL)
        AND (S.ID = @SECTOR OR @SECTOR IS NULL)
        AND U.NOMBRE = 'Planta'
    -- Consulta para ventas con nombres de usuario distintos de "Planta"
    UNION ALL
    SELECT 
        MAX(V.NUMEROVENTA) AS NumeroVenta,        
        MAX(V.FECHA) AS FECHA,
        U.ID AS IDUSUARIO,
        MAX(U.NOMBRE) AS NOMBREUSUARIO,
        SUM(CASE WHEN P.TIPO_PRODUCTO LIKE '%20 lts%' THEN V.CANTIDAD ELSE 0 END) AS 'VEINTELTS',
        SUM(CASE WHEN P.TIPO_PRODUCTO LIKE '%10 lts%' THEN V.CANTIDAD ELSE 0 END) AS 'DIEZLTS',    
        MAX(V.DETALLE) AS DETALLE,
        MAX(V.METODO_PAGO) AS METODO_PAGO,
        MAX(V.ESTADO_PAGO) AS ESTADO_PAGO,
        MAX(C.NOMBRE) AS COMUNA,
        SUM(V.TOTAL) AS TOTAL   
    FROM 
        VENTA_PRODUCTO V 
    INNER JOIN 
        USUARIO U ON V.ID_USUARIO = U.ID
    INNER JOIN 
        PRODUCTO P ON V.ID_PRODUCTO = P.ID
    INNER JOIN
        DIRECCION D ON D.ID = U.ID_DIRECCION
    INNER JOIN 
        COMUNA C ON C.ID = D.ID_COMUNA
    INNER JOIN 
        SECTOR S ON C.ID_SECTOR = S.ID
    WHERE 
        (V.ID = @IDVENTA OR @IDVENTA IS NULL)
        AND (V.TIPO_VENTA = @TIPOVENTA OR @TIPOVENTA IS NULL)
        AND (V.FECHA = @FECHA OR @FECHA IS NULL)
        AND (S.ID = @SECTOR OR @SECTOR IS NULL)
        AND U.NOMBRE <> 'Planta'
    GROUP BY 
        U.ID,
        V.FECHA
    ORDER BY 
        FECHA DESC;
END



GO
/****** Object:  StoredProcedure [dbo].[OBTNERTIPORUTA]    Script Date: 11-04-2024 18:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[OBTNERTIPORUTA]
@IDRUTA INT
AS
BEGIN
SELECT * FROM RUTA WHERE ID = @IDRUTA
END

GO
USE [master]
GO
