{% extends '_base.html' %}
{% load static %}
{% block title %}Mantenedor Usuarios{% endblock %}
{% block css %}
<link href="{% static 'css/usuario.css'%}" rel="stylesheet" type="text/css">
<style>
    
    .botonPersonalizados {
    background-color: green;
    color: white;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;

}

.botonPersonalizados:hover {
    background-color: white;
    color: green;
    border-color: 2px solid green;
}
.overflow-y-auto {
    overflow-y: auto;
    max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
}
.min-w-full {
    width: 100%;
    max-height: 400px; /* Altura máxima del contenedor de la tabla */
    overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */
}

.min-w-full table {
    width: 100%;
    border-collapse: collapse;
}

.min-w-full thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.min-w-full thead {
        background-color: #1f2024; /* Cambia este color al que desees */
        color: rgb(34, 32, 32); /* Cambia el color del texto si es necesario */
    }
  </style>
{% endblock %}
{% block content %}
  
<div class="search-bar">
    <input type="text" id="searchinput" placeholder="Buscar usuario...">
   
</div>
<button class="botonPersonalizados" id="botonPersonalizado">Agregar Usuario</button>
<div class="overflow-y-auto">
    <div class="min-w-full">
<table id="miTabla" class="min-w-full divide-y divide-gray-200">
    <thead class="sticky top-0 ">
        <tr class="bg-gray-50">
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Id</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Telefono</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Calle</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Número</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Comuna</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Editar</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Eliminar</th>
        </tr>
    </thead>
    <tbody id="tablaUsuarios" class="bg-white divide-y divide-gray-200">
        {% for usuario in usuarios %}
        <tr>
            <td class="px-6 py-4 whitespace-nowrap">{{usuario.id}}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{usuario.nombre}}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{usuario.telefono}}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{usuario.calle}}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{usuario.numero}}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{usuario.nombreComuna}}</td>
            <td class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded cursor-pointer editar-usuario" data-id="{{usuario.id}}">
                <a href="{% url 'actualizar_usuario' usuario.id %}">Editar</a>
            </td>
            <td class="bg-red-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded cursor-pointer eliminar-usuario" data-id="{{usuario.id}}">
                Eliminar
            </td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>
</div>
</div>

<!-- Modal Agregar Usuario -->
<div id="miModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
  <div class="bg-white p-8 rounded-md max-w-screen-lg">
      <h2 class="text-lg font-semibold mb-4">Agregar Nuevo Usuario</h2>
      <form method="POST" id="formularioUsuario">
        {% csrf_token %}
          <div class="flex flex-wrap -mx-3 mb-4">
              <div class="w-full md:w-1/3 px-3 mb-4 md:mb-0">
                  <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre:</label>
                  <input type="text" id="nombre" name="nombre" class="mt-1 p-2 block w-full rounded-md border border-gray-300 focus:border-blue-500">
              </div>
              <div class="w-full md:w-1/3 px-3 mb-4 md:mb-0">
                  <label for="telefono" class="block text-sm font-medium text-gray-700">Teléfono:</label>
                  <input type="text" id="telefono" name="telefono" class="mt-1 p-2 block w-full rounded-md border border-gray-300 focus:border-blue-500">
              </div>
              <div class="w-full md:w-1/3 px-3">
                  <label for="rol" class="block text-sm font-medium text-gray-700">Rol:</label>
                  <select id="rol" name="rol" class="mt-1 p-2 block w-full rounded-md border border-gray-300 focus:border-blue-500">
                    <option value="">Selecciona un rol</option>
                  </select>
              </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-4">
              <div class="w-full md:w-1/3 px-3 mb-4 md:mb-0">
                  <label for="calle" class="block text-sm font-medium text-gray-700">Calle:</label>
                  <input type="text" id="calle" name="calle" class="mt-1 p-2 block w-full rounded-md border border-gray-300 focus:border-blue-500">
              </div>
              <div class="w-full md:w-1/3 px-3 mb-4 md:mb-0">
                  <label for="numero" class="block text-sm font-medium text-gray-700">Número:</label>
                  <input type="text" id="numero" name="numero" class="mt-1 p-2 block w-full rounded-md border border-gray-300 focus:border-blue-500">
              </div>
              <div class="w-full md:w-1/3 px-3">
                  <label for="comuna" class="block text-sm font-medium text-gray-700">Comuna:</label>
                  <select id="comuna" name="comuna" class="mt-1 p-2 block w-full rounded-md border border-gray-300 focus:border-blue-500" style="max-height: 200px; overflow-y: auto;">
                    <option value="" disabled>Selecciona una comuna</option>
                    
                </select>
              </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-4">
              <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
                  <label for="correo" class="block text-sm font-medium text-gray-700">Correo:</label>
                  <input type="email" id="correo" name="correo" class="mt-1 p-2 block w-full rounded-md border border-gray-300 focus:border-blue-500">
              </div>
              <div class="w-full md:w-1/2 px-3">
                  <label for="contraseña" class="block text-sm font-medium text-gray-700">Contraseña:</label>
                  <input type="password" id="contraseña" name="contraseña" class="mt-1 p-2 block w-full rounded-md border border-gray-300 focus:border-blue-500">
              </div>
          </div>
          <div class="flex justify-end">
              <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Guardar</button>
              <button type="button" id="cerrarModal" class="ml-2 bg-red-500 text-white px-4 py-2 rounded-md">Cancelar</button>
          </div>
      </form>
  </div>
</div>
<!-- Fin Modal  Ingresar Usuario-->

{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
  document.getElementById('botonPersonalizado').addEventListener('click', function() {
        // Muestra el modal
        document.getElementById('miModal').classList.remove('hidden');
    });

    document.getElementById('cerrarModal').addEventListener('click', function() {
        // Oculta el modal
        document.getElementById('miModal').classList.add('hidden');
    });
     // Envío del formulario
     document.getElementById('formularioUsuario').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevenir el envío del formulario

        
        document.getElementById('miModal').classList.add('hidden');
    });
</script>
<!--BUSCARDOR DE DATOS EN LA TABLA-->
<script>
    document.getElementById('searchinput').addEventListener('input',function(){

var searchtext = this.value.toLowerCase();
var rows = document.getElementById('tablaUsuarios').getElementsByTagName('tr');

for(var i= 0;i< rows.length;i++){
    var cells = rows[i].getElementsByTagName('td');
    var found = false;

    for(var j = 0;j<cells.length;j++){
        var cellstext = cells[j].textContent.toLocaleLowerCase();
        if(cellstext.indexOf(searchtext)>-1){
            found = true;
            break;
        }
    }
    if(found){
        rows[i].style.display = '';
    }
    else{
        rows[i].style.display= 'none';
    }
}
});

</script>
<!--OBTENER ROLES-->
<script>
  $(document).ready(function() {
      $.ajax({
          url: '{% url "obtener_comunas" %}',
          type: 'GET',
          success: function(data) {
              var selectComuna = $('#comuna');
              selectComuna.empty();

              $.each(data.comunas, function(index, comuna) {
                  selectComuna.append($('<option>', {
                      value: comuna.id,
                      text: comuna.nombre
                  }));
              });
          },
          error: function(xhr, status, error) {
              console.error('Error al obtener comunas:', error);
          }
      });
  });
</script>
<!--OBTENER ROLES-->
<script>
  $(document).ready(function() {
      $.ajax({
          url: '{% url "obtener_roles" %}',
          type: 'GET',
          success: function(data) {
              var selectRol = $('#rol,#rolEdicion');
              selectRol.empty();

              $.each(data.roles, function(index, rol) {
                  selectRol.append($('<option>', {
                      value: rol.id,
                      text: rol.nombre
                  }));
              });
          },
          error: function(xhr, status, error) {
              console.error('Error al obtener roles:', error);
          }
      });
  });
</script>
<!--MUESTRA U OCULTA CORREO Y CONTRASEÑA DEPENDIENDO ROL-->
<script>
    $(document).ready(function() {
        
        $('#rol').change(function() {
           
            var selectedRol = $(this).val();

        
            if (selectedRol === '4') {
               
                $('#correo').closest('div').hide();
                $('#contraseña').closest('div').hide();
            } else {
                
                $('#correo').closest('div').show();
                $('#contraseña').closest('div').show();
            }
        });
    });
</script>
<script>
    $(document).ready(function() {
      
        $('#formularioUsuario').submit(function(event) {
            
            event.preventDefault();

         
            var formData = $(this).serialize();

          
            $.ajax({
                url: $(this).attr('action'), // Obtiene la URL de destino del formulario
                type: 'POST', // Especifica el método de solicitud como POST
                data: formData, // Establece los datos del formulario a enviar
                success: function(response) {
                    // Maneja la respuesta del servidor aquí, si es necesario
                    // Por ejemplo, puedes redirigir al usuario a una nueva página después de que se haya agregado el usuario correctamente
                    window.location.href = "{% url 'usuarios' %}";
                },
                error: function(xhr, status, error) {
                    // Maneja los errores de la solicitud AJAX aquí, si es necesario
                    console.error('Error al enviar el formulario:', error);
                    // Puedes mostrar un mensaje de error al usuario o realizar otra acción según sea necesario
                }
            });
        });
    });
</script>
<!--ELIMINAR USUARIO-->
<script>

    $(document).ready(function(){

        $('.eliminar-usuario').click(function(){
            var idusuario = $(this).data('id');

            var confirmacion = confirm("¿Estás seguro de eliminar este Usuario?");
            if(confirmacion){

                $.ajax({

                type:'POST',
                url:'{% url "eliminar_usuario" %}',
                data:{
                    'id_usuario':idusuario,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success:function(response){
                    if (response.includes("eliminado con éxito")) {
                    // Redirigir a la URL específica
                    window.location.href = "{% url 'usuarios' %}";
                } else {
                    alert(response); 
                }
                },
                error:function(xhr,status,error){
                    alert('Error al eliminar el usuario');
                }

                 });

            }
            

        });



    });



</script>
<script>
    // Verifica si hay un mensaje de éxito en la URL
    const urlParams = new URLSearchParams(window.location.search);
    const successMessage = urlParams.get('mensaje');

    // Si hay un mensaje de éxito, muestra una alerta
    if (successMessage) {
        alert("Usuario registrado: " + successMessage);
    }
</script>
{% endblock %}