{% extends '_base.html' %}
{% load static %}
{% block title %}Ventas{% endblock %}
{% block css %}
<link href="{% static 'css/usuario.css'%}" rel="stylesheet" type="text/css">
<link href="{% static 'css/ventas.css'%}" rel="stylesheet" type="text/css">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>
.total-dia{
    color: red;
}
</style>

{% endblock %}


{% block content %}

<div class="search-bar">
    <input type="text" id="searchinput" placeholder="Buscar venta...">
   
</div>
<button class="botonPersonalizados" id="botonPersonalizado">Agregar Venta</button>
<div class="container mx-auto mt-4">
    <div class="text-center"> <!-- Agrega la clase text-center aquí -->
        <h1 class="text-2xl font-bold">Ventas {% if tipoventa %}{{ tipoventa }}{% endif %}</h1>
    </div>
    <ul class="flex">
        <li class="mr-6">
            <a href="{% url 'ventas' %}" class="text-blue-500 hover:text-blue-800" data-tipoventa="Planta">Planta</a>
        </li>
        <li class="mr-6">
            <a href="{% url 'ventas' %}?tipoventa=Hogar" class="text-blue-500 hover:text-blue-800" data-tipoventa="Hogar">Hogar</a>
        </li>
    </ul>

</div>

<div class="overflow-y-auto">
    <div class="min-w-full">
    
<table id="tablaventas" class="min-w-full divide-y divide-gray-200">
    <thead class="sticky top-0 ">
        <tr class="bg-gray-50">
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Numero Venta</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Fecha</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">20 LTS</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">10 LTS</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Detalle</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Metodo Pago</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Estado Pago</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Comuna</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Historial</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Eliminar</th>
        </tr>
    </thead>
    {% if ventas %}    
    <tbody id="tablaVentas" class="bg-white divide-y divide-gray-200">
        {% for venta in ventas %}
        <tr>
            <td class="px-6 py-4 whitespace-nowrap">{{ venta.numeroVenta }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ venta.fecha }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ venta.nombreUsuario }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ venta.veinteLTS }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ venta.diezLTS }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ venta.detalle }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ venta.metodo_Pago }}</td>
            <td class="px-6 py-4 whitespace-nowrap">
                {% if venta.estado_Pago == 'PAGADO' %}
                <input type="checkbox" class="form-checkbox h-6 w-6 text-green-500 border-gray-300 rounded focus:ring-green-500 {% if venta.estado_Pago == 'PAGADO' %} bg-green-500 {% endif %}" {% if venta.estado_Pago == 'PAGADO' %} checked {% endif %}>

                {% else %}
                <input type="checkbox" class="form-checkbox h-6 w-6 text-green-500 border-gray-300 rounded focus:ring-green-500 {% if venta.estado_Pago == 'PAGADO' %} bg-green-500 {% endif %}" {% if venta.estado_Pago == 'PAGADO' %} checked {% endif %}>

                {% endif %}
            </td>   
            <td class="px-6 py-4 whitespace-nowrap">{{ venta.comuna }}</td>
        <td class="px-6 py-4 whitespace-nowrap total-venta">{{ venta.total }}</td>
        {% if venta.nombreUsuario != 'Planta' %}
        <td class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded cursor-pointer ver-historial-btn" data-idusuario="{{ venta.idUsuario }}" data-fecha="{{ venta.fecha }}">
            Ver Historial
        </td>
        {% else %}
        <td>
            None
        </td>
        {% endif %}
        <td class="bg-red-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded cursor-pointer eliminar-venta" data-id="{{ venta.idVenta}}" >
            Eliminar
        </td>
        
        </tr>
        
        {% endfor %}
    </tbody>
    {% endif %}
    
</table>

</div>
</div>
<div id="total-venta-container" class="text-right font-bold total-dia">Total del día: <span id="total-venta-valor"></span></div>
<!-- Modal Agregar Usuario -->
<div id="modalventa" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="bg-white p-8 rounded-md max-w-screen-lg">
        <h2 class="text-lg font-semibold mb-4">Agregar Nueva Venta</h2>
        <form method="POST" id="formularioVenta">
          {% csrf_token %}
          <div class="flex flex-wrap -mx-3 mb-4">
            
            <div class="w-full md:w-1/3 px-3">
                <label for="usuario" class="block text-sm font-medium text-gray-700">Usuario:</label>
                <select id="usuario" name="usuario" class="mt-1 p-2 block w-full rounded-md border border-gray-300 focus:border-blue-500 " style="max-height: 200px; overflow-y: auto; width: 100%; height: 40px;">
                    <option value="" disabled>Selecciona un Usuario</option>
                </select>
            </div>
            <div class="w-full md:w-1/3 px-3">
                <label for="producto" class="block text-sm font-medium text-gray-700">Producto:</label>
                <select id="producto" name="producto" class="mt-1 p-2 block w-full rounded-md border border-gray-300 focus:border-blue-500 ">
                    <option value="">Selecciona un producto</option>
                </select>
            </div>
            <div class="w-full md:w-1/3 px-3">
                <label for="fecha" class="block text-sm font-medium text-gray-700">Fecha:</label>
                <input type="date" id="fecha" name="fecha" class="mt-1 p-2 block w-full rounded-md border border-gray-300 focus:border-blue-500">
            </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-4">
            <div class="w-full md:w-1/3 px-3 mb-4 md:mb-0">
                <label for="metododepago" class="block text-sm font-medium text-gray-700">Método de Pago:</label>
                <select id="metodo" name="metodo" class="mt-1 p-2 block w-full rounded-md border border-gray-300 focus:border-blue-500 " style="max-height: 200px; overflow-y: auto; width: 100%; height: 40px;">
                    <option value="" >Selecciona un Método de Pago</option>
                    <option value="EFECTIVO">Efectivo</option>
                    <option value="TARJETA">Tarjeta</option>
                    <option value="TRANSFERENCIA">Transferencia</option>
                </select>
            </div>
            
            <div class="w-full md:w-1/3 px-3 mb-4 md:mb-0">
                <label for="estadoPago" class="block text-sm font-medium text-gray-700">Estado de Pago:</label>
                <div class="flex items-center mt-2">
                    <input type="radio" id="pagado" name="estadoPago" value="PAGADO" class="mr-2">
                    <label for="pagado" class="mr-4">Pagado</label>

                    <input type="radio" id="noPagado" name="estadoPago" value="NOPAGADO" class="mr-2">
                    <label for="noPagado">No Pagado</label>
                </div>
            </div>

            <div class="w-full md:w-1/3 px-3 mb-4 md:mb-0">
                <label for="cantidad" class="block text-sm font-medium text-gray-700">Cantidad:</label>
                <input type="number" id="cantidad" name="cantidad" class="mt-1 p-2 block w-full rounded-md border border-gray-300 focus:border-blue-500">
            </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-4">
            <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
                <label for="Prioridad" class="block text-sm font-medium text-gray-700">Prioridad:</label>
                <select id="prioridad" name="prioridad" class="mt-1 p-2 block w-full rounded-md border border-gray-300 focus:border-blue-500 " style="max-height: 200px; overflow-y: auto; width: 100%; height: 40px;">
                    <option value="" >Selecciona una Prioridad</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
                <label for="Precio" class="block text-sm font-medium text-gray-700">Precio:</label>
                <input disabled type="text" id="precio" name="precio" class="mt-1 p-2 block w-full rounded-md border border-gray-300 focus:border-blue-500 precio-input">
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-4">
        <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
            <label for="despacho" class="block text-sm font-medium text-gray-700">Despacho:</label>
            <input disabled type="text" id="despacho" name="despacho" class="mt-1 p-2 block w-full rounded-md border border-gray-300 focus:border-blue-500 despacho-input">
        </div>    
        <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
            <label for="total" class="block text-sm font-medium text-gray-700">Total:</label>
            <input disabled type="text" id="total" name="total" class="mt-1 p-2 block w-full rounded-md border border-gray-300 focus:border-blue-500 total-input">
        </div>
        </div>
        <input  type="hidden" id="tipodeventa" name="tipodeventa" class="mt-1 p-2 block w-full rounded-md border border-gray-300 focus:border-blue-500">
        <div class="flex justify-end">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Agendar</button>
            <button type="button" id="cerrarmodalventa" class="ml-2 bg-red-500 text-white px-4 py-2 rounded-md">Cancelar</button>
        </div>
    </form>
</div>


{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    document.querySelectorAll('.ver-historial-btn').forEach(function(button) {
    button.addEventListener('click', function() {
        var idUsuario = this.getAttribute('data-idusuario');
        var fecha = this.getAttribute('data-fecha');
        // Dividir la cadena en día, mes y año
var partesFecha = fecha.split('/');
var dia = partesFecha[0];
var mes = partesFecha[1];
var año = partesFecha[2];

// Crear un objeto de fecha en JavaScript (mes - 1 porque los meses van de 0 a 11)
var fechaFormateada = new Date(año, mes - 1, dia);

// Obtener los componentes de fecha
var añoFormateado = fechaFormateada.getFullYear();
var mesFormateado = fechaFormateada.getMonth() + 1; // Sumar 1 porque los meses van de 0 a 11
var diaFormateado = fechaFormateada.getDate();

// Formatear la fecha en formato 'yyyy-mm-dd'
var fechaFinal = añoFormateado + '-' + (mesFormateado < 10 ? '0' : '') + mesFormateado + '-' + (diaFormateado < 10 ? '0' : '') + diaFormateado;

        window.location.href = '{% url "historial" %}?idusuario=' + idUsuario + '&fecha=' + encodeURIComponent(fechaFinal );
    });
});
</script>

<script>
    document.getElementById('botonPersonalizado').addEventListener('click', function(event) {
        event.stopPropagation();
        
        $('#modalventa').removeClass('hidden');
    });

    document.getElementById('cerrarmodalventa').addEventListener('click', function() {
        $('#modalventa').addClass('hidden');
    });
</script>

<!--OBTENER USUARIOS-->
<script>
    var selectUsuarios = document.getElementById('usuario');
    var opcionesOriginales = [];
    function cargaropciones(){
        $.ajax({
            url: '{% url "recuperarusuarios" %}',
            type: 'GET',
            success: function(data) {
                // Limpiar el select
                selectUsuarios.innerHTML = '<option value="" disabled>Selecciona un Usuario</option>';
                opcionesOriginales = [];

                // Agregar las opciones recibidas del servidor
                data.usuarios.forEach(function(usuario) {
                    var opcion = new Option(usuario.nombre, usuario.id);
                    selectUsuarios.add(opcion);
                   
                    opcionesOriginales.push(opcion);
                });
                $('#usuario').select2();
            },
            error: function(xhr, status, error) {
                console.error('Error al obtener usuarios:', error);
            }
        });
    }
   

    cargaropciones();
    
   
  </script>
  <!--OBTENER PRODUCTOS-->
<script>
     
    
    function cargarProductosEnSelect2(productos) {
        var selectProducto = $('#producto');
        var precioproducto = $('#precio');
        selectProducto.empty(); 
        
        // Agregar la opción por defecto
        selectProducto.append($('<option>').attr('value', '').text('Selecciona un producto'));
        
        // Agregar las opciones de productos
        productos.forEach(function(producto) {
            selectProducto.append($('<option>').attr('value', producto.id).text(producto.tipo_Producto + ' - Precio: ' + producto.precio));  
        });
        
        selectProducto.change(function(){
            var precioSeleccionado = $(this).find(':selected').text().split(' - Precio:')[1];
            precioproducto.val(precioSeleccionado);
        });
 
      
        
        // Llamar a la función para establecer el tipo de venta después de cargar los productos
        establecerTipoVenta();
    }
    
    // Función para establecer el tipo de venta según el producto seleccionado
    function establecerTipoVenta() {
        var selectProducto = document.getElementById('producto');
        var tipoVentaInput = document.getElementById('tipodeventa');

        // Verificar si selectProducto y tipoVentaInput son elementos válidos
        if (selectProducto && tipoVentaInput) {
            // Obtener el índice seleccionado del producto
            var selectedIndex = selectProducto.selectedIndex;

            // Verificar si se ha seleccionado un producto real (el índice es mayor que 0)
            if (selectedIndex > 0) {
                // Obtener el texto del producto seleccionado
                var productoSeleccionado = selectProducto.options[selectedIndex].text;

                // Depuración: Imprimir el valor del producto seleccionado en la consola
                console.log('Producto seleccionado:', productoSeleccionado);

                // Verificar si el producto contiene la palabra "Planta"
                if (productoSeleccionado.includes('Planta')) {
                    // Si el producto es de tipo "Planta", establecer el tipo de venta como "Planta"
                    tipoVentaInput.value = 'Planta';
                } else if (productoSeleccionado.includes('Hogar')) {
                    // Si el producto es de tipo "Hogar", establecer el tipo de venta como "Hogar"
                    tipoVentaInput.value = 'Hogar';
                } else {
                    // Si el producto no coincide con ninguno de los criterios anteriores, dejar el campo de tipo de venta vacío
                    tipoVentaInput.value = '';
                }

                // Depuración: Imprimir el valor del campo tipodeventa después de la asignación
                console.log('Tipo de venta:', tipoVentaInput.value);
            }
        }
        habilitarprioridad();
    }
    function habilitarprioridad() {
        var tipoventa = document.getElementById('tipodeventa');
        var prioridad = document.getElementById('prioridad');

        if (tipoventa.value.toLowerCase() === 'hogar') {
            prioridad.disabled = false;
        } else {
            prioridad.disabled = true;
            prioridad.selectedIndex = 0;
        }
    }

    // Llamar a la función para cargar los productos una vez que se haya cargado la página
    $(document).ready(function() {
        // Realizar una solicitud AJAX para recuperar los productos
        $.ajax({
            url: '{% url "recuperarproductos" %}',
            type: 'GET',
            success: function(data) {
                // Verificar si se recibieron los datos correctamente
                if (data.hasOwnProperty('productos')) {
                    // Llamar a la función para cargar los productos en el select2
                    cargarProductosEnSelect2(data.productos);
                } else {
                    console.error('Los datos recibidos no contienen la lista de productos.');
                }
            },
            error: function(xhr, status, error) {
                console.error('Error al recuperar los productos:', error);
            }
        });
    });

    // Agregar un event listener para el cambio en el campo de selección de productos
    $(document).on('change', '#producto', function() {
        // Llamar a la función para establecer el tipo de venta cada vez que se cambie la selección de productos
        establecerTipoVenta();
    });
    document.getElementById('tipodeventa').addEventListener('input', function() {
        habilitarprioridad();
    });
</script>
</script>
<!--BUSCARDOR DE DATOS EN LA TABLA-->
<script>
    document.getElementById('searchinput').addEventListener('input',function(){

var searchtext = this.value.toLowerCase();
var rows = document.getElementById('tablaVentas').getElementsByTagName('tr');

for(var i= 0;i< rows.length;i++){
    var cells = rows[i].getElementsByTagName('td');
    var found = false;

    for(var j = 0;j<cells.length;j++){
        var cellstext = cells[j].textContent.toLocaleLowerCase();
        if(cellstext.indexOf(searchtext)>-1){
            found = true;
            break;
        }
    }
    if(found){
        rows[i].style.display = '';
    }
    else{
        rows[i].style.display= 'none';
    }
}
});

</script>



<!--MARCAR FILAS CON FECHA ACTUAL-->
<script>
$(document).ready(function(){
    // Formatear la fecha actual
    var currentDate = new Date().toLocaleDateString('es-ES');

    $('#tablaVentas tr').each(function(){
        // Obtener la fecha de la fila y formatearla
        var rowDateStr = $(this).find('td:eq(1)').text().trim();
        var rowDateParts = rowDateStr.split('/');
        var formattedRowDate = rowDateParts[1] + '/' + rowDateParts[0] + '/' + rowDateParts[2];
        var rowDate = new Date(formattedRowDate);

        if (!isNaN(rowDate.getTime())) {
            // Si la fecha es válida, continuamos con la comparación
            var rowFormattedDate = rowDate.toLocaleDateString('es-ES');
            // Comparar las fechas
            if (rowFormattedDate === currentDate) {
                $(this).addClass('current-date-row');
            } else {
                console.log("Fecha de la fila no coincide con la fecha actual.");
            }
        } else {
            console.log("Fecha de la fila no válida:", rowDateStr);
        }
    });
});
</script>

<!--ESTABLECER DESPACHO-->
<script>
    // Función para establecer el valor del campo de despacho
    function establecerDespacho() {
        var selectProducto = document.getElementById('producto');
        var despachoInput = document.getElementById('despacho');
        var cantidadinput = parseFloat($('#cantidad').val());
        if (selectProducto && despachoInput) {
           
            var selectedIndex = selectProducto.selectedIndex;

            if (selectedIndex > 0) {
                
                var productoSeleccionado = selectProducto.options[selectedIndex].text;

                
                if (productoSeleccionado.includes('Planta') || document.getElementById('tipodeventa').value.toLowerCase() === 'planta') {
                    
                    despachoInput.value = '0';
                } 
                else {
                    if (productoSeleccionado.includes('Hogar Poniente') || productoSeleccionado.includes('Hogar Oriente')) {
                        if (cantidadinput < 4) {
                            despachoInput.value = productoSeleccionado.includes('Hogar Poniente') ? '1500' : '2000';
                        } else {
                            despachoInput.value = '0';
                        }
                    }            
                }
            }
        }
    }

    // Llamar a la función para establecer el valor del campo de despacho cada vez que se cambie la selección de productos o el tipo de venta
    $(document).on('change input', '#producto, #cantidad', function() {
        establecerDespacho();
        calcularTotal(); // Llamar a la función para recalcular el total cuando cambia la cantidad
    });
    document.getElementById('tipodeventa').addEventListener('input', function() {
        establecerDespacho();
    });
    /*CALCULAR PRECIO TOTAL*/
    function calcularTotal(){
    var cantidad = parseFloat($('#cantidad').val());
    var precio = parseFloat($('#precio').val());
    var despacho = parseFloat($('#despacho').val());
    var total = cantidad * precio+ despacho;
    $('#total').val(total.toFixed(2));
}
$('#cantidad, #precio,#despacho').on('input',function(){
    calcularTotal();
});

</script>

<script>

    $(document).ready(function(){
        calcularTotalVentahoy();
    });

    function calcularTotalVentahoy(){
        var currentDate = new Date().toISOString().split('T')[0];
        var totalVentaHoy = 0;
        $('#tablaventas tbody tr').each(function(){

            var fechaventa = $(this).find('td:eq(1)').text().trim();
            var fechaFormateada = fechaventa.split('/').reverse().join('-');
            if(fechaFormateada === currentDate){
                var totalventa = parseFloat($(this).find('.total-venta').text());
                if(!isNaN(totalventa)){
                    totalVentaHoy += totalventa;
                }
            }
        });
        $('#total-venta-valor').text(totalVentaHoy.toFixed(2));
    }

</script>

<script>
    // Event listener para el botón de eliminar venta
    $(document).on('click', '.eliminar-venta', function() {
        // Obtener el ID de la venta desde el atributo data
        var ventaId = $(this).data('id');
        console.log(ventaId);
        // Confirmar si el usuario desea eliminar la venta
        if (confirm("¿Estás seguro de que deseas eliminar esta venta?")) {
            // Realizar la solicitud AJAX para eliminar la venta
            $.ajax({
                type: 'POST',
                url: '{% url "eliminar_venta" %}',
                data: {
                    'id_venta': ventaId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(data) {
                    // Actualizar la página o realizar cualquier otra acción necesaria después de eliminar la venta
                    location.reload(); // Recargar la página
                },
                error: function(xhr, status, error) {
                    // Manejar el error en caso de que ocurra algún problema durante la solicitud AJAX
                    console.error('Error al eliminar la venta:', error);
                    alert('Error al eliminar la venta. Por favor, inténtalo de nuevo más tarde.');
                }
            });
        }
    });
</script>

{% endblock %}